<!DOCTYPE html>
<html>
<head>
	<title>Encryption</title>
  <link rel="stylesheet" type="text/css" href="{{static ('style.css')}}">
</head>
<body>
<div class="login-box">
<form action method="post" enctype="multipart/form-data">
  {{csrf_input}}
  {% set key = 1 %}

  <input type="hidden" name="key" id="caption" value="{{key}}" >
  
  <div class="user-box">
    <input type="text" name="message" id="title">
    <label>Enter Message</label>
  </div>
  <div class="user-box">
    <select class="select">
      <option selected="" disabled="" style="color: black">Select User</option>
      <option value="dev" style="color: black">Dev</option>
      <!--<option value="javal" style="color: black">Javal</option>-->
    </select>
  </div>
  <div class="user-box">
        
    <input type="file" name="file" id="file" required="required" onchange="return fileValidation()" multiple="multiple"/>
    <div style="color: white">Upload Image in jpeg, jpg and png</div>
  </div>  
  <div align="center">
    <br><button type="submit">Encrypt</button>
    </div>
  
</form>
<br>
<div id="imagePreview" align="center"></div>
	<script>
		function fileValidation() {
			var fileInput =
				document.getElementById('file');
			
			var filePath = fileInput.value;
		
			// Allowing file type
			var allowedExtensions =
					/(\.jpg|\.jpeg|\.png)$/i;
			
			if (!allowedExtensions.exec(filePath)) {
				alert('Invalid file type');
				fileInput.value = '';
				return false;
			}
			else
			{
			
				// Image preview
				if (fileInput.files && fileInput.files[0]) {
					var reader = new FileReader();
					reader.onload = function(e) {
						document.getElementById(
							'imagePreview').innerHTML =
							'<img src="' + e.target.result
							+ '" width=200px height= 120px/>';
					};
					
					reader.readAsDataURL(fileInput.files[0]);
				}
			}
		}
	</script>

</body>
</html>