<!DOCTYPE html>
<html>
<head>

	<title>Welcome</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{static ('util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static ('main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static ('style.css')}}">
<style type="text/css">
td{
	padding: 10px;
	text-align: center;
}
.i1,.i2{
	padding-left: 20px;
}
</style>
</head>
<body>
<div class="login-box">

		<table>
			<tr>
				<td class="i1">
					<a href="{{url('encrypt')}}">
					<img src="{{static ('encrypt.png')}}" style="width: 100px;">
					</a>
				</td>
				<td class="i2" style="padding-left:70px;">
					<a href="{{url('decrypt')}}">
					<img src="{{static ('decrypt.png')}}" style="width: 100px;">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<h3 style="color: white;">
						Encryption
					</h3>
				</td>
				<td style="padding-left:70px;">
					<h3 style="color: white;">
						Decryption
					</h3>
					
						
				</td>
			</tr>
		</table>

</div>
</body>
</html>