<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{static ('util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static ('main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static ('style.css')}}">
<!--===============================================================================================-->
<script type="text/javascript">


function check_info()

{

var username=document.getElementById("username").value;
var password=document.getElementById("password").value;

    if((username == "javal" && password == "password") || (username == "dev" && password == "password"))

      {
		window.location = "{{url('home')}}";
        return false;
      }

      else
      { 
        alert("Invalid Username or Password"); 
      }

  } 
</script>
</head>
<body>
<div class="login-box">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="username" id="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" id="password" required="">
      <label>Password</label>
    </div>
    <div align="center">
    <a onclick="return check_info()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
    </div>
  </form>
</div>
<!-- partial -->
  
</body>

</html>